/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.env
/.env.*.php
/.phpunit.result.cache
Homestead.yaml
Homestead.json
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
.phpunit.result.cache
.php_cs.cache